#pattern {
  border-collapse: collapse;
  margin-bottom: 0.5rem;
}

#pattern td {
  margin: 0;
  padding: 0 0.5rem 0.5rem 0;
}

#pattern td input {
  margin: 0;
  padding: 0;
}

#result {
  display: flex;
  flex-wrap: wrap;
  max-width: 40rem;
}

#result div {
  width: 1.25rem;
}

#result div.good {
  font-weight: bold;
}

#result div.bad {
  opacity: 0.33;
}
